
v.36/
v.37/
v.38/
v.39/
v.40/
veckoschema_full.md
service-account-key.json

# Ignorera hela kod-mappen tillfälligt
kod/venv/
venv/
kod/bq/
kod/docker/
kod/bash/
kod/api/.env
kod/api/fastapi/__pycache__/
kod/api/fastapi_basemodel/__pycache__/
kod/api/batch_script/__pycache__/
kod/api/fetch_write/ingestion/.env
kod/api/fetch_write/db/.env
